<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Yuhui Dai">

    <title>ARea</title>

    <link rel="shortcut icon" type="image/x-icon" href="../../resources/d.png">
    <link href="../../public/css/bootstrap.css" rel="stylesheet">
    <link href="../../public/css/portfolioTemplate.css" rel="stylesheet">

</head>

<body id="page-top" class="index">

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <a class="navbar-brand" href="../landingPage.html">
        <img src="../../resources/yuhui_dai_oceanBlue.png" height ="45px" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="nav navbar-nav float-md-right">
            <li ><a class="nav-item nav-link" href="../portfolioPage.html" >PROJECT</a></li>
            <li><a class="nav-item nav-link" href="../photo.html">PHOTOS</a></li>
            <li><a class="nav-item nav-link" href="../aboutMePage.html">ABOUT</a></li>
            <li><a class="nav-item nav-link" href="../contactPage.html">CONTACT</a></li>

        </ul>
    </div>
</nav>

<section class="jumbotron text-left" id="post">
    <div class="container">
        <div class="portfolioDescriptionHeading">
            <div class="row" style="text-align:left">
                <div class="col-lg-5 col-sm-12">
                    <h1> A R e a </h1>
                    <hr>
                    <p class="companyAndDate">
                        Cornell Tech
                        <span> on going project </span>
                    </p>
                    <hr style="visibility:hidden">
                    <p>
                        A R e a, a mobile app promotes interactive experience among users, stimulates users to
                        actively explore both the workspace and their coworker’s interests through interaction with AR.
                        With the support of AR technology, users can inspect their workspace and learn about their
                        coworkers’ interests while scanning the identifiers that are associated with their coworkers.
                        The goal of this application is to assist firms and institutions to establish a fun tradition
                        that helps new employees to know their coworkers and enhance the bonds among people who share
                        same co-working space.

                    </p>

                </div>
                <div class="col-lg-7 col-sm-12" style="text-align:center">
                    <img class="img-fluid" src="../../portfolio%20pics/ARea/2D%20maker%20uploads.png">
                </div>
            </div>
            <hr style="visibility:hidden">
        </div>
        <div class="row">
            <div class="body">
                <div class="row">
                    <div class="col-md-12">
                        <hr style="visibility:hidden">
                        <div class="col-md-12 text">
                            <h3>What are we creating? </h3>
                            <p>Our goal is to leverage AR technology to help people better know about their coworkers
                                and lab mates. We hope to create more social networks throughout the workspace.
                            </p>
                            <p>
                                Imagine as an HR manager, you want to create a quick and interactive event to
                                mingle the newbies with the current employees every year. You not only want the newbies
                                to be familiar with their co-workers but also the workspace. Most importantly,
                                you want them to know who sits where. Then you download our app, which curates
                                the interests/things about individual users and utilizes AR technology to ‘hide’ the
                                information to 2D/3D identifiers. When users hover their phone over a scanned object,
                                an AR information board will pop up and display relevant information about whoever this
                                scanned identifier belong to. This mobile app is a modern way to treasure hunt “people”.
                                The “prize” would be an ordinary identifier that would be scattered around the workspace
                                and encapsulate personal information. The information would be revealed only when using
                                our app, which employs AR technology to recognize identifier.
                            </p>
                            <hr></hr>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <img class="img-fluid" src="../../portfolio%20pics/ARea/login.png">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <img class="img-fluid" src="../../portfolio%20pics/ARea/2D%20maker%20uploads.png">
                    </div>
                    <div class="col-md-12">
                        <hr style="visibility:hidden">
                        <div class="col-md-12 text">
                            <h3> Information Collection Website Design & Implementation </h3>
                            <p>A core design of ARea is to collect personal and professional information from our
                                target users. The information is displayed on the mobile side of the application.
                                We built a complete website that collects information and the current interfaces are
                                listed in the appendix. The website’s back-end is built in <span style="font-weight: bold">
                                    node.js </span> and front-end with <span style="font-weight: bold"> javascript, css,
                                    html, </span> interfacing with <span style="font-weight: bold"> mongo DB </span>.
                                It consists of a simple login system and several pages (step by step) asking for user
                                information such as photo uploads, biography, etc. In order to test whether the website
                                is intuitive and user friendly, we conducted user research with 12 people, who offered
                                incredible insights.

                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <img class="img-fluid" src="../../portfolio%20pics/ARea/bio.png">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <img class="img-fluid" src="../../portfolio%20pics/ARea/fun%20facts.png">
                    </div>
                    <div class="col-md-12">
                        <hr style="visibility:hidden">
                        <div class="col-md-12 text">
                            <h3> User Testing Outcome and Future Improvements</h3>
                            <p>We have a few design suggestions from our users,
                                that are valuable to guide our next steps.
                            </p>
                            <p>1.	Add more visual cues to help users understand why we need this piece of
                                information. For instance, we can design a correspondence visualization of how a
                                specific piece of information will appear on the mobile interface, or even how users
                                can interact with the information. This transformation will not only emphasize
                                on the importance of gathering specific information but also help users understand
                                how they can use the mobile AR app.
                            </p>
                            <p>2.	Add visual indications of optional and required information. Currently, the
                                interface does not distinguish them in the UI, so that users would be annoyed
                                when they realized they cannot go to next page when they haven’t filled out some information.
                            </p>
                            <p>  3.	Allow users to provide more data about themselves (such as online portfolios,
                                social media information). Although not everyone wants to share as much as they
                                can about themselves, some people prefer to add more information. The current
                                system does not allow this functionality. Since we use a No-SQL database,
                                we could take advantage of its schema flexibility nature. Adding this functionality
                                should not be challenging.
                            </p>
                            <p>   4.	Display entered information when users revisit or re-login the website.
                                This is helpful to remind them what they have filled in previously, so when they
                                want to change information, they have a frame of reference.
                            </p>
                            <p>  5.	Modify tones and languages to be more relaxing, playful and encouraging.
                                The current tones and languages are a bit too formal. Changing the wording of
                                some questions or descriptions can make the overall user experience smoother.
                            </p>
                            <p>   6.	Horizontal indication of steps instead of vertical design (current).
                                A horizontal visualization is generally preferred by the users we did testing on.
                                They suggest that that design would be more intuitive.

                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row relatedWork">
            <div class="col-md-12 text-center">
                <hr style="visibility:hidden">
                <h3> Related Work </h3>
                <hr style="visibility:hidden">
            </div>
            <div class="col-md-4">
                <a href="synner.html">
                    <div class="card">
                        <img style="height: 230px; padding: 10px" src="../../portfolio%20pics/synner/layered_gaussian_smooth_noHover.png">
                        <div class="card-block">
                            Uncertainty in Data
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="myBrain.html">
                    <div class="card">
                        <img style="height: 230px; width: 240px; padding: 10px; margin: auto" src="../../portfolio%20pics/myBrain/brain.png">
                        <div class="card-block">
                            My Brain
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="saladNews.html">
                    <div class="card">
                        <img style="height: 230px; width: 240px; padding: 10px; margin: auto" src="../../portfolio%20pics/saladNews/salad_home.png">
                        <div class="card-block">
                            Dream Box
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Footer -->

<footer>
    <div class="col-md-12 portfolio">
        <p class="myFooter">© 2017 Yuhui Dai</p>
        <p class="myRightFooter">
            <a href="https://www.facebook.com/yuhui.dai.1">
                <img src="../../resources/facebook.png" width="20px" height="20px" alt="">
            </a>
        </p>
        <p class="myRightFooter">
            <a href="https://github.com/YuhuiDai">
                <img src="../../resources/github.png" width="20px" height="20px" alt=" ">
            </a>
        </p>
        <p class="myRightFooter">
            <a href="https://www.linkedin.com/in/yuhui-dai-78439185/">
                <img src="../../resources/linkedin.png" width="20px" height="20px" alt=" ">
            </a>
        </p>

    </div>
    <hr style="visibility:hidden">
    <hr style="visibility:hidden">
    <hr style="visibility:hidden">
</footer>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="../../public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../public/js/resize.js"></script>

</body>

</html>
