<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Yuhui Dai">

    <title>Dream Box</title>

    <link rel="shortcut icon" type="image/x-icon" href="../../resources/d.png">
    <link href="../../public/css/bootstrap.css" rel="stylesheet">
    <link href="../../public/css/portfolioTemplate.css" rel="stylesheet">

</head>

<body id="page-top" class="index">

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <a class="navbar-brand" href="../landingPage.html">
        <img src="../../resources/yuhui_dai_oceanBlue.png" height ="45px" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="nav navbar-nav float-md-right">
            <li ><a class="nav-item nav-link" href="../portfolioPage.html" >PROJECT</a></li>
            <li><a class="nav-item nav-link" href="../photo.html">PHOTOS</a></li>
            <li><a class="nav-item nav-link" href="../aboutMePage.html">ABOUT</a></li>
            <li><a class="nav-item nav-link" href="../contactPage.html">CONTACT</a></li>

        </ul>
    </div>
</nav>

<section class="jumbotron text-left" id="post">
    <div class="container">
        <div class="portfolioDescriptionHeading">
            <div class="row" style="text-align:left">
                <div class="col-lg-4 col-sm-12">
                    <h1> Dream Box </h1>
                    <hr>
                    <p class="companyAndDate">
                        Personal Proejct
                        <span> Fall 2015 </span>
                    </p>
                    <hr style="visibility:hidden">
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        In Dream Box, users can build their own dream boxes by logging in or
                        create a name. They can read others' dream journals from the home page and comment on them.
                        After users create their dream logs, the sentiment analysis api can tell them whether
                        it is a good dream or bad dream. The application uses node.js and IBM Waston Sentiment API.
                    </p>
                </div>
                <div class="col-lg-8 col-sm-12" style="text-align:center">
                    <img class="img-fluid" src="../../portfolio%20pics/dreamJournal/home.png">
                </div>
            </div>
            <hr style="visibility:hidden">
        </div>
        <div class="row">
            <div class="body">

                <div class="row">

                    <div class="col-md-12">
                        <hr style="visibility:hidden">
                        <div class="col-md-12 text">
                            <h3> Why I created this </h3>
                            <p>
                                This simple website is my final project of a web development class. The database and web domain are
                                powered by heroku.
                            </p>
                            <p>
                                I always have vivid and sometimes amazingly interesting dreams. I want to keep a dream
                                journal to record what I dreamt so that I would not forget. Sometimes the dream is complex,
                                with a lot of postive and negative emotions. I keep wondering whether it is a good sign or a bad sign.
                                In my application, I used a natural language processing api to analyze the sentiment of the text.
                                With the algorithm offered by the api, I can detect the overall sentiment of the dream content.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <img class="img-fluid" src="../../portfolio%20pics/dreamJournal/log-in.png">
                    </div>
                    <div class="col-md-12">
                        <hr style="visibility:hidden">
                        <div class="col-md-12 text">
                            <h3> How does it work </h3>
                            <p>1. Home page displays all the dream journals and their related comments</p>
                            <p>2. User can click the comment button to comment on the dream and save it</p>
                            <p>3. Login page allows user to either create a new page or entering their existing page by type in their user name</p>
                            <p>4. On the individual user page, one can write the dream content in text box</p>
                            <p>5. The api will tell the user immediately whether it is a good dream or a bad dream</p>
                            <p>6. The page automatically adds user's dream to his/her previous dream journals if exist</p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <img class="img-fluid" src="../../portfolio%20pics/dreamJournal/jounalPage.png">
                    </div>


                    <div class="col-md-12">
                        <hr style="visibility:hidden">
                        <div class="col-md-12 text">
                            <h4><a href="http://dreamboxyuhuidai.herokuapp.com">Dream Box Website powered by heroku</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row relatedWork">
            <div class="col-md-12 text-center">
                <hr style="visibility:hidden">
                <h3> Related Work </h3>
                <hr style="visibility:hidden">
            </div>
            <div class="col-md-4">
                <a href="corporateTaxRate.html">
                    <div class="card">
                        <img style="height: 230px; padding: 10px" src="../../portfolio%20pics/corporateTaxRate/cover.png">
                        <div class="card-block">
                            U.S. Industry Tax Rate
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="idealist.html">
                    <div class="card">
                        <img style="height: 230px; padding: 10px" src="../../portfolio%20pics/idealist/1.png">
                        <div class="card-block">
                            Act Button
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="doodle.html">
                    <div class="card">
                        <img style="height: 230px; padding: 10px" src="../../portfolio%20pics/doodle/doddles.png">
                        <div class="card-block">
                            Doodle Jump on Computer
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Footer -->

<footer>
    <div class="col-md-12 portfolio">
        <p class="myFooter">© 2017 Yuhui Dai</p>
        <p class="myRightFooter">
            <a href="https://www.facebook.com/yuhui.dai.1">
                <img src="../../resources/facebook.png" width="20px" height="20px" alt="">
            </a>
        </p>
        <p class="myRightFooter">
            <a href="https://github.com/YuhuiDai">
                <img src="../../resources/github.png" width="20px" height="20px" alt=" ">
            </a>
        </p>
        <p class="myRightFooter">
            <a href="https://www.linkedin.com/in/yuhui-dai-78439185/">
                <img src="../../resources/linkedin.png" width="20px" height="20px" alt=" ">
            </a>
        </p>

    </div>
    <hr style="visibility:hidden">
    <hr style="visibility:hidden">
    <hr style="visibility:hidden">
</footer>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="../../public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../public/js/resize.js"></script>

</body>

</html>
