<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Yuhui Dai">

    <title>MyBrain</title>

    <link rel="shortcut icon" type="image/x-icon" href="../../resources/d.png">
    <link href="../../public/css/bootstrap.css" rel="stylesheet">
    <link href="../../public/css/portfolioTemplate.css" rel="stylesheet">

</head>

<body id="page-top" class="index">

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <a class="navbar-brand" href="../landingPage.html">
        <img src="../../resources/yuhui_dai_oceanBlue.png" height ="45px" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="nav navbar-nav float-md-right">
            <li ><a class="nav-item nav-link" href="../portfolioPage.html" >PROJECT</a></li>
            <li><a class="nav-item nav-link" href="../photo.html">PHOTOS</a></li>
            <li><a class="nav-item nav-link" href="../aboutMePage.html">ABOUT</a></li>
            <li><a class="nav-item nav-link" href="../contactPage.html">CONTACT</a></li>

        </ul>
    </div>
</nav>

<section class="jumbotron text-left" id="post">
    <div class="container">
        <div class="portfolioDescriptionHeading">
            <div class="row" style="text-align:left">
                <div class="col-lg-8 col-sm-12">
                    <h1> My Brain </h1>
                    <hr>
                    <p class="companyAndDate">
                        New York Times
                        <span> Fall 2017 </span>
                    </p>
                    <hr style="visibility:hidden">
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        New York Times proposed a product challenge to drive up their subscriptions number, and we created MyBrain, a
                        mobile application that provides organized, personalized, interactive and gamifying news reading experience
                        for New York Times subscribers.
                    </p>
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        This application allows subscribers to visualize what content they have read in the past via 'MyBrain', which is
                        dynamically partitioned by topics. It allows users to follow influencers or friends, and view their 'brains' or New York Times'
                        'brain buddles' which curate trending content on specific topics. Lastly, it also catalogs content read and recommends new content based on user's own browsing history and his/her
                        friends' and influencers' browsing history.

                    </p>
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*Front-end is built in <span style="font-weight: bold">React Native</span>,
                        back-end with <span style="font-weight: bold">Node.js</span> and <span style="font-weight: bold">MongoDB</span>
                        interfacing with New York Times <span style="font-weight: bold">API</span>. Data visualization and animation
                        with <span style="font-weight: bold">d3</span> and <span style="font-weight: bold">React Native Art</span>.
                    </p>
                </div>
                <div class="col-lg-4 col-sm-12" style="text-align:center">
                    <img class="img-fluid" src="../../portfolio%20pics/myBrain/home.jpg">
                </div>
            </div>
            <hr style="visibility:hidden">
        </div>
        <div class="row">
            <div class="body">
                <div class="row">
                    <div class="col-md-12">
                        <hr style="visibility:hidden">
                        <div class="col-md-12 text">
                            <h3> Background </h3>
                            <p>The average American reads <span style="font-weight: bold">19</span>  minutes per day.</p>
                            <p>That’s enough time for about <span style="font-weight: bold">5</span> articles.</p>
                            <p>The New York Times publishes <span style="font-weight: bold">230</span> pieces of content
                                every day (or <span style="font-weight: bold">46x</span> the average content consumption).</p>
                            <p style="font-weight: bold">How does The Times ensure users don’t miss out on the content they actually care about?</p>
                            <p>Our solution: <span style="font-weight: bold">MyBrain</span></p>
                            <hr></hr>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <img class="img-fluid" src="../../portfolio%20pics/myBrain/login.jpg">
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <img class="img-fluid" src="../../portfolio%20pics/myBrain/home.jpg">
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <img class="img-fluid" src="../../portfolio%20pics/myBrain/snapshot.jpg">
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <img class="img-fluid" src="../../portfolio%20pics/myBrain/otherMedia.jpg">
                    </div>
                    <div class="col-md-12">
                        <hr style="visibility:hidden">
                        <div class="col-md-12 text">
                            <h3> Product Flow </h3>
                            <p>1. <span style="font-weight: bold">Login</span>: via facebook or email</p>
                            <p>2. <span style="font-weight: bold">Home</span>: View your brain and read recommended content</p>
                            <p>3. <span style="font-weight: bold">Snapshot of News Content</span>: View snippets and have the options to view entire article</p>
                            <p>4. <span style="font-weight: bold">Recommendations</span>:</p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="font-weight: bold">My News</span>:direct recommendation based on user's browsing history</p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="font-weight: bold">What you might like</span>:trending news, breaking news and content that user's friends and
                                influencers read</p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="font-weight: bold">Plug In</span>:other NYT media content such as video and podcast</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <img class="img-fluid" src="../../portfolio%20pics/myBrain/home.jpg">
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <img class="img-fluid" src="../../portfolio%20pics/myBrain/personal%20history.jpg">
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <img class="img-fluid" src="../../portfolio%20pics/myBrain/influencers.jpg">
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <img class="img-fluid" src="../../portfolio%20pics/myBrain/brainBuddle.jpg">
                    </div>
                    <div class="col-md-12">
                        <hr style="visibility:hidden">
                        <div class="col-md-12 text">
                            <p>1. <span style="font-weight: bold">History</span>: Enter via clicking on the Brain and view articles read in the past</p>
                            <p>2. <span style="font-weight: bold">Feed</span>: View your friends' and influencers' brain</p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; if one follows John Oliver, one can know what
                                John Oliver reads on New York Times</p>
                            <p>3. <span style="font-weight: bold">Explore</span>: </p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; if one wants to quickly become an expert in certain field, or
                            have an overview on certain topics, these curated buddles can enrich your knowledge in certain areas in a
                                short period of time. For instance, if you want to keep track of the progress of G20 summit, a bundled brain
                            may record all news related to G20 summit and the following actions across the world.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row relatedWork">
            <div class="col-md-12 text-center">
                <hr style="visibility:hidden">
                <h3> Related Work </h3>
                <hr style="visibility:hidden">
            </div>
            <div class="col-md-4">
                <a href="synner.html">
                    <div class="card">
                        <img style="height: 230px; padding: 10px" src="../../portfolio%20pics/synner/layered_gaussian_smooth_noHover.png">
                        <div class="card-block">
                            Uncertainty in Data
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="idealist.html">
                    <div class="card">
                        <img style="height: 230px; padding: 10px" src="../../portfolio%20pics/idealist/1.png">
                        <div class="card-block">
                            Act Button
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="dream.html">
                    <div class="card">
                        <img style="height: 230px; padding: 10px" src="../../portfolio%20pics/dreamJournal/jounalPage.png">
                        <div class="card-block">
                            Dream Box
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Footer -->

<footer>
    <div class="col-md-12 portfolio">
        <p class="myFooter">© 2017 Yuhui Dai</p>
        <p class="myRightFooter">
            <a href="https://www.facebook.com/yuhui.dai.1">
                <img src="../../resources/facebook.png" width="20px" height="20px" alt="">
            </a>
        </p>
        <p class="myRightFooter">
            <a href="https://github.com/YuhuiDai">
                <img src="../../resources/github.png" width="20px" height="20px" alt=" ">
            </a>
        </p>
        <p class="myRightFooter">
            <a href="https://www.linkedin.com/in/yuhui-dai-78439185/">
                <img src="../../resources/linkedin.png" width="20px" height="20px" alt=" ">
            </a>
        </p>

    </div>
    <hr style="visibility:hidden">
    <hr style="visibility:hidden">
    <hr style="visibility:hidden">
</footer>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="../../public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../public/js/resize.js"></script>

</body>

</html>
