<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Yuhui Dai">

    <title>Piano Master</title>

    <link rel="shortcut icon" type="image/x-icon" href="../../resources/d.png">
    <link href="../../public/css/bootstrap.css" rel="stylesheet">
    <link href="../../public/css/portfolioTemplate.css" rel="stylesheet">

</head>

<body id="page-top" class="index">

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <a class="navbar-brand" href="../landingPage.html">
        <img src="../../resources/yuhui_dai_oceanBlue.png" height ="45px" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="nav navbar-nav float-md-right">
            <li ><a class="nav-item nav-link" href="../portfolioPage.html" >PROJECT</a></li>
            <li><a class="nav-item nav-link" href="../photo.html">PHOTOS</a></li>
            <li><a class="nav-item nav-link" href="../aboutMePage.html">ABOUT</a></li>
            <li><a class="nav-item nav-link" href="../contactPage.html">CONTACT</a></li>

        </ul>
    </div>
</nav>

<section class="jumbotron text-left" id="post">
    <div class="container">
        <div class="portfolioDescriptionHeading">
            <div class="row" style="text-align:left">
                <div class="col-lg-8 col-sm-12">
                    <h1> A R e a </h1>
                    <hr>
                    <p class="companyAndDate">
                        Interactive Device Design
                        <span> Spring 2018 </span>
                    </p>
                    <hr style="visibility:hidden">
                    <p>
                        PianoMaster aims to teach users how to play a piano through a LED matrix interface
                        that indicates when to press what key to produce sounds. To produce sound,
                        out team uses direct files we downloaded from online to produce each node.
                        For the LED display, we purchased a LED matrix and followed online tutorial to
                        adjust our design. Arduino connects to the physical keys, and the board are
                        laser-cutted wood board.
                    </p>
                    <p>
                        Technology Used:
                        <span style="font-weight: bold">Arduino</span>, <span style="font-weight: bold">
                        Raspberry Pi</span>
                    </p>
                </div>
                <div class="col-lg-4 col-sm-12" style="text-align:center">
                    <img class="img-fluid" src="../../portfolio%20pics/piano/piano.jpg">
                </div>
            </div>
            <hr style="visibility:hidden">
        </div>
        <div class="row">
            <div class="body">
                <div class="row">
                    <hr style="visibility:hidden">
                    <hr style="visibility:hidden">


                    <div class="col-md-12">
                        <hr style="visibility:hidden">
                        <div class="col-md-12 text">
                            <h3> Design Iterations </h3>
                            <p>
                                1. Proven Viable Idea with basic skeleton design with Arduino
                            </p>
                            <p>
                                2. We validate our hardware design with laser-cut woodboard and embedded copper wires that
                                connects to Raspberry Pi and Arduino
                            </p>
                            <div class="row">
                            <div class="col-sm-12 col-md-5" >
                                <img class="img-fluid" src="../../portfolio%20pics/piano/pre-first.png">
                            </div>

                            <div class="col-sm-12 col-md-5">
                                <img class="img-fluid" src="../../portfolio%20pics/piano/first.png">
                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 text">
                        <h3>
                            Demo Video
                        </h3>
                        <hr style="visibility:hidden">
                        <hr style="visibility:hidden">
                    </div>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6voOkVceP9g" frameborder="0"
                            allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row relatedWork">
            <div class="col-md-12 text-center">
                <hr style="visibility:hidden">
                <h3> Related Work </h3>
                <hr style="visibility:hidden">
            </div>
            <div class="col-md-4">
                <a href="synner.html">
                    <div class="card">
                        <img style="height: 230px; padding: 10px" src="../../portfolio%20pics/synner/layered_gaussian_smooth_noHover.png">
                        <div class="card-block">
                            Uncertainty in Data
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="myBrain.html">
                    <div class="card">
                        <img style="height: 230px; width: 240px; padding: 10px; margin: auto" src="../../portfolio%20pics/myBrain/brain.png">
                        <div class="card-block">
                            My Brain
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="saladNews.html">
                    <div class="card">
                        <img style="height: 230px; padding: 10px;" src="../../portfolio%20pics/saladNews/salad_home.png">
                        <div class="card-block">
                            Salad News
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Footer -->

<footer>
    <div class="col-md-12 portfolio">
        <p class="myFooter">© 2017 Yuhui Dai</p>
        <p class="myRightFooter">
            <a href="https://www.facebook.com/yuhui.dai.1">
                <img src="../../resources/facebook.png" width="20px" height="20px" alt="">
            </a>
        </p>
        <p class="myRightFooter">
            <a href="https://github.com/YuhuiDai">
                <img src="../../resources/github.png" width="20px" height="20px" alt=" ">
            </a>
        </p>
        <p class="myRightFooter">
            <a href="https://www.linkedin.com/in/yuhui-dai-78439185/">
                <img src="../../resources/linkedin.png" width="20px" height="20px" alt=" ">
            </a>
        </p>

    </div>
    <hr style="visibility:hidden">
    <hr style="visibility:hidden">
    <hr style="visibility:hidden">
</footer>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="../../public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../public/js/resize.js"></script>

</body>

</html>
