<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Yuhui Dai">

    <title>Visualize Uncertainty</title>

    <link rel="shortcut icon" type="image/x-icon" href="../../resources/d.png">
    <link href="../../public/css/bootstrap.css" rel="stylesheet">
    <link href="../../public/css/portfolioTemplate.css" rel="stylesheet">

</head>

<body id="page-top" class="index">

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <a class="navbar-brand" href="../landingPage.html">
        <img src="../../resources/yuhui_dai_oceanBlue.png" height ="45px" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="nav navbar-nav float-md-right">
            <li ><a class="nav-item nav-link" href="../portfolioPage.html" >PROJECT</a></li>
            <li><a class="nav-item nav-link" href="../photo.html">PHOTOS</a></li>
            <li><a class="nav-item nav-link" href="../aboutMePage.html">ABOUT</a></li>
            <li><a class="nav-item nav-link" href="../contactPage.html">CONTACT</a></li>

        </ul>
    </div>
</nav>

<section class="jumbotron text-left" id="post">
    <div class="container">
        <div class="portfolioDescriptionHeading">
            <div class="row" style="text-align:left">
                <div class="col-lg-5 col-sm-12">
                    <h1> Visualize Uncertainty </h1>
                    <hr>
                    <p class="companyAndDate">
                        NYU Abu Dhabi Design Lab
                        <span> Summer 2017 </span>
                    </p>
                    <hr style="visibility:hidden">
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Modern data visualization can give people false impressions of preciseness when the data are
                        subject to some uncertainty. This summer research project aims to test and compare different
                        interfaces that represent uncertainty in randomly generated data following user-specified distribution.
                    </p>
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        The research project utilizes html, css and javascript, complemented by Angularjs and d3 library.
                        It is part of a bigger project at NYU Abu Dhabi Design Lab.
                    </p>
                </div>
                <div class="col-lg-7 col-sm-12" style="text-align:center">
                    <img class="img-fluid" src="../../portfolio%20pics/synner/layered_gaussian_smooth_noHover.png">
                </div>
            </div>
            <hr style="visibility:hidden">
        </div>
        <div class="row">
            <div class="body">

                <div class="row">
                    <div class="col-md-12">
                        <hr style="visibility:hidden">
                        <div class="col-md-12 text">
                            <h3> Why do we need to visualize uncertainty in randomly generated data? </h3>
                            <p>
                                For instance, if a hospital revamps its database and wants to test it, the hospital
                                cannot risk using real data in case something fails and results in security leaks.
                                The hospital can use randomly generated data with some specifications: age, gender
                                ratio, etc. The hospital can input requirements/specifications into a data generator
                                and use the randomly generated data to test new system. However, the problem is no
                                algorithm can produce exact result. If the hospital specifies a mean age of 50 in 1000
                                generated data points, the generated results may yeild 50.0005 rather than exactly 50.
                                The current data generator service online does not incorporate the uncertainty
                                visualization in their websites, and could give users the false impression that
                                everything is exact. Therefore, this research is trying to systematically find a way
                                to visualize these uncertainties in randomly generated data.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <img class="img-fluid" src="../../portfolio%20pics/synner/layered_gamma_smooth.png">
                    </div>
                    <div class="col-sm-12">
                        <img class="img-fluid" src="../../portfolio%20pics/synner/layered_gamma_bar.png">
                    </div>
                    <div class="col-md-12">
                        <hr style="visibility:hidden">
                        <div class="col-md-12 text">
                            <h3> Design </h3>
                            <p>
                                We started with 4 designs but narrowed down to 2 designs after the pilot testing. The codes of
                                the designs are generic and applicable to different kinds of distributions. I am showing Gaussian,
                                Exponential and Gamma distributions in my illustrations.
                            </p>
                            <h5> Layered Graph</h5>
                            <p>
                                The above two images are the layered graph design, and the layered areas represent the
                                deviations from the theoretical distribution. The parameter representation echoes the
                                style of the distribution distribution, with theoretical curve represented by the solid line.
                            </p>
                            <h5> Sample Lines</h5>
                            <p>
                                The below two images are the sample lines design, and the thinner lines represent every
                                randomly generated experiment (aka: samples). The parameter representation echoes the
                                style of the distribution distribution, with theoretical curve represented by
                                the thicker line and samples represented by thinner lines.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <img class="img-fluid" src="../../portfolio%20pics/synner/lines_exponential_smooth.png">
                    </div>
                    <div class="col-sm-12">
                        <img class="img-fluid" src="../../portfolio%20pics/synner/lines_exponential_bar.png">
                    </div>
                    <div class="col-md-12">
                        <hr style="visibility:hidden">
                        <div class="col-md-12 text">
                            <h3> Interaction with Users </h3>
                            <p>
                                Users can inspect each sample that follows the specified distribution by hovering their mouse
                                over the thin lines (in Sample Lines design) or hovering over the area (in Layered Graph design)
                                to look at the exact shape of the histogram. The two images below illustrates how it works.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <img class="img-fluid" src="../../portfolio%20pics/synner/lines_gaussian_smooth.png">
                    </div>
                    <div class="col-sm-12">
                        <img class="img-fluid" src="../../portfolio%20pics/synner/layered_gaussian_smooth.png">
                    </div>
                    <div class="col-md-12">
                        <hr style="visibility:hidden">
                        <div class="col-md-12 text">
                            <p>
                                When hovering over certain sample, users are able to observe the exact distribution of
                                that sample in both histogram and dotted line. Users are able to interact with the distribution
                                graph and the parameter scale(s). The corresponding parameters (distribution) will be
                                highlighted when user inspect the distribution (parameters).
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row relatedWork">
            <div class="col-md-12 text-center">
                <hr style="visibility:hidden">
                <h3> Related Work </h3>
                <hr style="visibility:hidden">
            </div>
            <div class="col-md-4">
                <a href="corporateTaxRate.html">
                    <div class="card">
                        <img style="height: 230px; padding: 10px" src="../../portfolio%20pics/corporateTaxRate/cover.png">
                        <div class="card-block">
                            U.S. Industry Tax Rate
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="tweet.html">
                    <div class="card">
                        <img style="height: 230px; padding: 10px" src="../../portfolio%20pics/tweetSentiment/twitter_stock.png">
                        <div class="card-block">
                            Tweet Sentiment & Stock Volatility
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="doodle.html">
                    <div class="card">
                        <img style="height: 230px; padding: 10px" src="../../portfolio%20pics/doodle/doddles.png">
                        <div class="card-block">
                            Doodle Jump on Computer
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Footer -->

<footer>
    <div class="col-md-12 portfolio">
        <p class="myFooter">© 2017 Yuhui Dai</p>
        <p class="myRightFooter">
            <a href="https://www.facebook.com/yuhui.dai.1">
                <img src="../../resources/facebook.png" width="20px" height="20px" alt="">
            </a>
        </p>
        <p class="myRightFooter">
            <a href="https://github.com/YuhuiDai">
                <img src="../../resources/github.png" width="20px" height="20px" alt=" ">
            </a>
        </p>
        <p class="myRightFooter">
            <a href="https://www.linkedin.com/in/yuhui-dai-78439185/">
                <img src="../../resources/linkedin.png" width="20px" height="20px" alt=" ">
            </a>
        </p>

    </div>
    <hr style="visibility:hidden">
    <hr style="visibility:hidden">
    <hr style="visibility:hidden">
</footer>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="../../public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../public/js/resize.js"></script>

</body>

</html>
