<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Yuhui Dai">

    <title>Tweet Sentiment & Stock Volatility</title>

    <link rel="shortcut icon" type="image/x-icon" href="../../resources/d.png">
    <link href="../../public/css/bootstrap.css" rel="stylesheet">
    <link href="../../public/css/portfolioTemplate.css" rel="stylesheet">

</head>

<body id="page-top" class="index">

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <a class="navbar-brand" href="../landingPage.html">
        <img src="../../resources/yuhui_dai_oceanBlue.png" height ="45px" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="nav navbar-nav float-md-right">
            <li ><a class="nav-item nav-link" href="../portfolioPage.html" >PROJECT</a></li>
            <li><a class="nav-item nav-link" href="../photo.html">PHOTOS</a></li>
            <li><a class="nav-item nav-link" href="../aboutMePage.html">ABOUT</a></li>
            <li><a class="nav-item nav-link" href="../contactPage.html">CONTACT</a></li>

        </ul>
    </div>
</nav>

<section class="jumbotron text-left" id="post">
    <div class="container">
        <div class="portfolioDescriptionHeading">
            <div class="row" style="text-align:left">
                <div class="col-lg-6 col-sm-12">
                    <h3> The Forecasting Power of Twitter Sentiment on
                        Future Stock Performance </h3>
                    <hr>
                    <p class="companyAndDate">
                        Senior Capstone
                        <span> Senior year 2016-2017 </span>
                    </p>
                    <hr style="visibility:hidden">
                    <p>
                        My undergrad senior capstone project is in Business Analytics, which analyzes whether the sentiment
                        of Twitter’s tweet content towards specific companies can be an indicator
                        of their stock prices. Particularly, I am comparing the predictability of tweet sentiment in both
                        consumer-facing and nonconsumer-facing companies’ stock values.
                    </p>
                </div>
                <div class="col-lg-6 col-sm-12" style="text-align:center">
                    <img class="img-fluid" src="../../portfolio%20pics/tweetSentiment/twitter_stock.png">
                </div>
            </div>
            <hr style="visibility:hidden">
        </div>
        <div class="row">
            <div class="body">
                <div class="row">
                    <div class="col-md-12">
                        <hr style="visibility:hidden">
                        <div class="col-md-12 text">
                            <h3> Abstract </h3>
                            <p>
                                Social media are increasingly reflecting and influencing behaviors of other complex systems.
                                In this paper, I investigate whether Twitter's tweet sentiment (aka: tweet sentiment) can
                                forecast firm specific stock performances. In particular, I compare, in a period of 62 days,
                                tweet sentiment's predictive power on stock performance in both customer-facing companies
                                and non-customer-facing companies. I want to explore whether tweet sentiment correlates with
                                individual stock prices and returns differently depending on whether the company is
                                customer-facing or non-customer-facing. Therefore, I analyze 5 customer-facing companies and
                                5 non-customer-facing companies. My hypothesis is the following: Negative tweet sentiment
                                can more accurately forecast individual firm’s future stock performances than positive tweet
                                sentiment. Non-customer-facing companies’ stock performances correlate with tweet sentiment
                                more significantly than customer-facing companies’ do. However, my research finds that in the
                                short term, there is little predictive power of tweet sentiment on stock performance at an
                                individual firm level, and the Efficient Market Hypothesis holds.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <img class="img-fluid" src="../../portfolio%20pics/tweetSentiment/tweet%20Example.png">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <img class="img-fluid" src="../../portfolio%20pics/tweetSentiment/everSourceWeightedSentiment.png">
                    </div>

                    <div class="col-md-12">
                        <hr style="visibility:hidden">
                        <div class="col-md-12 text">
                            <p>
                                The above image on the left is a sample of the tweet content and their sentiment
                                score analyzed by Microsoft API. The image on the left graphs the weighted sentiment
                                volatility of different percentiles in a two-month period. Ever-source is a non-customer
                                facing energy company.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center" style="margin-top: 35px">
                        <a href="../../resources/YuhuiDaiCapstone.pdf" download class="downloadCV" style="vertical-align:bottom">
                            <img src="../../resources/download.png" height="30px"> Full Capstone
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row relatedWork">
            <div class="col-md-12 text-center">
                <hr style="visibility:hidden">
                <h3> Related Work </h3>
                <hr style="visibility:hidden">
            </div>
            <div class="col-md-4">
                <a href="synner.html">
                    <div class="card">
                        <img style="height: 230px; padding: 10px" src="../../portfolio%20pics/synner/layered_gaussian_smooth_noHover.png">
                        <div class="card-block">
                            Uncertainty in Data
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="dream.html">
                    <div class="card">
                        <img style="height: 230px; padding: 10px" src="../../portfolio%20pics/dreamJournal/jounalPage.png">
                        <div class="card-block">
                            Dream Box
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="doodle.html">
                    <div class="card">
                        <img style="height: 230px; padding: 10px" src="../../portfolio%20pics/doodle/doddles.png">
                        <div class="card-block">
                            Doodle Jump on Computer
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->

<footer>
    <div class="col-md-12 portfolio">
        <p class="myFooter">© 2017 Yuhui Dai</p>
        <p class="myRightFooter">
            <a href="https://www.facebook.com/yuhui.dai.1">
                <img src="../../resources/facebook.png" width="20px" height="20px" alt="">
            </a>
        </p>
        <p class="myRightFooter">
            <a href="https://github.com/YuhuiDai">
                <img src="../../resources/github.png" width="20px" height="20px" alt=" ">
            </a>
        </p>
        <p class="myRightFooter">
            <a href="https://www.linkedin.com/in/yuhui-dai-78439185/">
                <img src="../../resources/linkedin.png" width="20px" height="20px" alt=" ">
            </a>
        </p>

    </div>
    <hr style="visibility:hidden">
    <hr style="visibility:hidden">
    <hr style="visibility:hidden">
</footer>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="../../public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../public/js/resize.js"></script>

</body>

</html>
